@import "tailwindcss";

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}