@import "tailwindcss";

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.cc-highlight {
    box-shadow: 0 0 0 3px rgba(255, 159, 0, 0.2), 0 0 0 6px rgba(255, 159, 0, 0.08);
    outline: 2px solid rgba(255, 159, 0, 0.6);
    border-radius: 6px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}